home/.bash_history
home/.dub/**
home/.vscode-server**
home/.gitconfig
home/.ash_history
home/.config/fish/fish_variables
home/.local/share/fish/fish_history
home/dlang/
.DS_Store
**/out/*
home/heuristic/ahc031/output/out
home/heuristic/ahc031/vis.html
home/heuristic/ahc040/src/output/out
