# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = vvani06
	email = vvani06+dev@gmail.co

[credential]
	helper = "!f() { /root/.vscode-server/bin/2b9aebd5354a3629c3aba0a5f5df49f43d6689f8/node /tmp/vscode-remote-containers-9c734f480a32b293e9baeb65c0119cb5f70bd6b9.js $*; }; f"
