# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = vvani06
	email = vvani06+dev@gmail.co

[credential]
	helper = "!f() { /root/.vscode-server/bin/e5a624b788d92b8d34d1392e4c4d9789406efe8f/node /tmp/vscode-remote-containers-0fc8071e21dc77f5b0d61bef25359001cf5c9c95.js $*; }; f"
